
<html lang="en">
    <head>
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
      <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
      <link href="http://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">
      <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
      <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
      <link href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css" rel="stylesheet" type="text/css">
  <style>
  body,h1,h2,h3,h4,h5 {font-family: "Raleway", sans-serif}
  .w3-quarter img{margin-bottom: -6px; cursor: pointer}
  .w3-quarter img:hover{opacity: 0.6; transition: 0.3s}
  </style>
  <body class="w3-light-grey">
  
  <!-- Sidebar/menu -->
  <nav class="w3-sidebar w3-bar-block w3-black w3-animate-right w3-top w3-text-light-grey w3-large" style="z-index:3;width:250px;font-weight:bold;display:none;right:0;" id="mySidebar">
    <a href="javascript:void()" onclick="w3_close()" class="w3-bar-item w3-button w3-center w3-padding-32">CLOSE</a> 
    <a href="/" onclick="w3_close()" class="w3-bar-item w3-button w3-center w3-padding-16">HOME</a> 
    <a href="/sessions" onclick="w3_close()" class="w3-bar-item w3-button w3-center w3-padding-16">BOOK SESSIONS WITH US</a>
    <% if (!currentUser){%>
    <a href="/teams" onclick="w3_close()" class="w3-bar-item w3-button w3-center w3-padding-16">OUR TEAM</a>
      <a href="/workshops" onclick="w3_close()" class="w3-bar-item w3-button w3-center w3-padding-16">WORKSHOPS</a>
      <% } else{ %>
      <a href="/ourteams" onclick="w3_close()" class="w3-bar-item w3-button w3-center w3-padding-16">EDIT TEAM</a>
      <a href="/ourworkshops" onclick="w3_close()" class="w3-bar-item w3-button w3-center w3-padding-16">EDIT WORKSHOPS</a>
      <% } %>
  </nav>
  
  <!-- Top menu on small screens -->
  <header class="w3-container w3-top w3-grey w3-xlarge w3-padding-16">
    <span class="w3-left w3-padding">STRONG AND HEALTHY BLOGS</span>
    <a href="javascript:void(0)" class="w3-right w3-button w3-white" onclick="w3_open()">☰</a>
  </header>
  
  <!-- Overlay effect when opening sidebar on small screens -->
  <div class="w3-overlay w3-animate-opacity" onclick="w3_close()" style="cursor:pointer" title="close side menu" id="myOverlay"></div>
  
  <!-- w3-content defines a container for fixed size centered content, 
  and is wrapped around the whole page content, except for the footer in this example -->
  <div class="w3-content" style="max-width:1400px">
  
  <!-- Header -->
  <header class="w3-container w3-center w3-padding-32"> 
    <h1><b>MY WORKSHOPS</b></h1>
    <h1><b>WELCOME TO OUR WORKSHOPS</b></h1>
    <p>"We bring you best of ours for the best of you....."</p>
    <p> <span class="w3-tag">S&H</span></p>
  </header>
  
      <div class ="ui main text container segment"><%= work.title1 %>
          <div class = "ui top attached segment">
              <div class = "item">
                  <img class="ui centerd rounded image" src="<%=work.image1%>">
                  <div class="content">
                      <span><%=work.created1.toDateString()%></span>
                  </div>
                  <div class="description">
                      <p><%=work.description1%></p>
                  </div>
                  <div class="description">
                      <p><%=work.body1%></p>
                  </div>
                  <a class= "ui orange basic button" href ="/ourworkshops/<%=work._id%>/edit">Edit</a>
                  <form id ="delete" action ="/ourworkshops/<%=work._id%>?_method=DELETE" method="POST">
                      <button class="ui red basic button">Delete</button>
              </div>
          </div>
  </div>
  
  <script>
  // Script to open and close sidebar
  function w3_open() {
    document.getElementById("mySidebar").style.display = "block";
    document.getElementById("myOverlay").style.display = "block";
  }
  
  function w3_close() {
    document.getElementById("mySidebar").style.display = "none";
    document.getElementById("myOverlay").style.display = "none";
  }
  </script>
  
  </body>
  </html>
  
  
  